.navbar-brand img{
    height: 40px;
    width: 150px;
}
body{
    font-family: 'Inter', sans-serif;
}
h1{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.colors{
    background-color: #E9ECEF;
    background-color: #D4D4D4;
    background-color: #404040;
    background-color: #000000;
    background-color: #00AEEF;
    background-color: #77B800;
    background-color: #E98300;
    background-color: #D10074;
}